.Active-Button {
    background-color: burlywood;
    height: 60px;
    width: 200px;
    border: none;
    color: gray;
    cursor : pointer;
}

.Inactive-Button {
    background-color: yellowgreen;
    height: 60px;
    width: 200px;
    border: none;
    color: gray;
    cursor : pointer;
}